@use 'variables' as *;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin button-base {
  border-radius: 50%;
  border: $border-width solid $color-primary;
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
  }
}

@mixin player-border {
  border-radius: $border-radius;
  border: $border-width solid $color-primary;
}
